* {
  font-family: "Roboto", sans-serif;
}
.cardmenu {
  width: 500px;
  background-color: rgb(186, 176, 176);
  padding: 25px 20px 50px 20px;
  margin: 20px;
}
.creditcard {
  background-color: rgb(34, 33, 33);
  height: 260px;
  position: relative;
  left: 100px;
  border-radius: 10px;
  box-shadow: 20px 10px 16px 0px rgba(0, 0, 0, 0.82);
}
.creditcard::after {
  color: beige;
}
.cardbuttom {
  background-color: blanchedalmond;
}
.logo {
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.cardtitle {
  color: white;
  font-weight: 100;
}
.cardbuttom {
  display: block;
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(55, 54, 54);
  margin: auto;
  margin-top: 50px;
  padding: 10px 5px;
  width: 150px;
  text-align: center;
  height: 20px;
  border-radius: 10px;
  position: relative;
  right: 10px;
}
.pin {
  color: bisque;
  text-align: center;
}
.name {
  text-align: center;
  color: rgb(255, 255, 255);
}
.for {
  margin: auto;
  font-size: 20px;
  text-align: center;
  color: aliceblue;
}
.lorem {
  color: antiquewhite;
  text-align: center;
}
